@import "../styles/aq-bootstrap";
@import "~bootstrap/scss/card";
.card {
  &.no-border {
    border: 0;
  }
  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .card-icon {
      font-size: $h3-font-size;
    }

    &.no-border {
      border: 0;
    }
  }
  .card-title {
    float: left;
    margin-bottom: 0;
    font-weight: $font-weight-bold;
    color: $primary;
  }
}
