@import '../styles/aq-bootstrap';


$btn-font-size: $font-size-base;
$btn-font-size-sm: $font-size-sm;
$btn-font-size-lg: $font-size-base;
$btn-font-family: $font-family-sans-serif;
$btn-font-weight : $font-weight-regular;


$btn-padding-y-sm: .25rem; 
$btn-padding-x-sm: .5rem;
$btn-padding-y: .5rem; 
$btn-padding-x: .75rem;
$btn-padding-y-lg: .813rem; 
$btn-padding-x-lg: 1rem;

$btn-icon-padding-y: 0;
$btn-icon-padding-x: 0;
@if $btn-padding-y - $btn-padding-x < 0 {
	$btn-icon-padding-y: $btn-padding-x - $btn-padding-y;
} @else {
	$btn-icon-padding-x: $btn-padding-y - $btn-padding-x;
}
$btn-icon-padding-y-sm: 0;
$btn-icon-padding-x-sm: 0;
@if $btn-padding-y-sm - $btn-padding-x-sm < 0 {
	$btn-icon-padding-y-sm: $btn-padding-x-sm - $btn-padding-y-sm;
} @else {
	$btn-icon-padding-x-sm: $btn-padding-y-sm - $btn-padding-x-sm;
}
$btn-icon-padding-y-lg: 0;
$btn-icon-padding-x-lg: 0;
@if $btn-padding-y-lg - $btn-padding-x-lg < 0 {
	$btn-icon-padding-y-lg: $btn-padding-x-lg - $btn-padding-y-lg;
} @else {
	$btn-icon-padding-x-lg: $btn-padding-y-lg - $btn-padding-x-lg;
}

@import "~bootstrap/scss/buttons";
