name: Create release

on:
  push:
    tags:
      - release-*

env:
  ECR_REPOSITORY: appq-register-page
  DEPLOY_BUCKET: crowd-react-app-preproduction-s3-source-bucket

jobs:
  push-to-ecr:
    name: Push Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get tag name
        shell: bash
        run: |
          TAG=${GITHUB_REF##*/}
          ECR_REPOSITORY=${ECR_REPOSITORY}
          echo "##[set-output name=tag;]$TAG"
          echo "##[set-output name=ECR_REPOSITORY;]$ECR_REPOSITORY"
        id: extract_tag

      - name: Docker ECR
        uses: kciter/aws-ecr-action@v2
        with:
          access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          account_id: ${{ secrets.AWS_ACCOUNT_ID }}
          region: eu-west-1
          repo: ${{ steps.extract_tag.outputs.ECR_REPOSITORY }}
          tags: ${{ steps.extract_tag.outputs.tag }}

  release-to-preprod:
    name: Release to PreProd
    needs: push-to-ecr
    runs-on: ubuntu-latest
    environment: preproduction
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get tag name
        shell: bash
        run: |
          TAG=${GITHUB_REF##*/}
          ECR_REPOSITORY=${ECR_REPOSITORY}
          DEPLOY_BUCKET=${DEPLOY_BUCKET}
          echo "##[set-output name=tag;]$TAG"
          echo "##[set-output name=ECR_REPOSITORY;]$ECR_REPOSITORY"
          echo "##[set-output name=DEPLOY_BUCKET;]$DEPLOY_BUCKET"
        id: extract_tag
      - name: "Generate dist zip"
        run: |
          cd deployment
          echo -n " ${{ steps.extract_tag.outputs.ECR_REPOSITORY }}:${{steps.extract_tag.outputs.tag}}" > docker-image.txt
          zip dist.zip *
      - uses: zdurham/s3-upload-github-action@master
        env:
          S3_BUCKET: ${{ steps.extract_tag.outputs.DEPLOY_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: "eu-west-1"
          FILE: ./deployment/dist.zip
          S3_KEY: dist.zip
